<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT introducingWidget20 ANY>
<!ATTLIST introducingWidget20 id ID #REQUIRED>
<!ELEMENT christmasParty2016 ANY>
<!ATTLIST christmasParty2016 id ID #REQUIRED>
<!ELEMENT artfacinante ANY>
<!ATTLIST artfacinante id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="4825213e-45c2-4341-9d9e-9ffe131d93e4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-06-22T09:14:28" updateDate="2021-06-25T14:41:14" nodeName="en" urlName="en" path="-1,1064" isDoc="" nodeType="1061" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <footerText><![CDATA["Copyright Widgets Ltd 2014"]]></footerText>
    <simpleContentPage id="1069" key="d7886d51-0c1d-4616-b9a9-783f3a3d29c0" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2021-06-22T13:27:51" updateDate="2021-06-22T22:09:34" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1069" isDoc="" nodeType="1068" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1067" nodeTypeAlias="simpleContentPage" isPublished="true">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>Esta esta una página de prueba/ that's page of prove</p>]]></bodyText>
    </simpleContentPage>
    <articlesMain id="1089" key="67c62e69-5e2a-4085-b0c1-068b2c378c4d" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2021-06-23T07:27:45" updateDate="2021-06-25T09:40:39" nodeName="Articles Main" urlName="articles-main" path="-1,1064,1089" isDoc="" nodeType="1071" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1070" nodeTypeAlias="articlesMain" isPublished="true">
      <articlesTitle><![CDATA[titulo am 2]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>cuerpo art main 2</p>]]></articlesBodyText>
      <artfacinante id="1090" key="0f3b6b0e-4206-4adf-a5e6-6433cba747d5" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2021-06-23T07:29:55" updateDate="2021-06-23T09:09:23" nodeName="Artfacinante" urlName="artfacinante" path="-1,1064,1089,1090" isDoc="" nodeType="1088" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1087" nodeTypeAlias="artfacinante" isPublished="true">
        <title><![CDATA[Artfacinante título ]]></title>
        <body><![CDATA[<p>Articulo facinante body</p>]]></body>
      </artfacinante>
      <christmasParty2016 id="1097" key="e2d110fc-ddc9-402d-bec9-8768d7c96fad" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2021-06-23T07:48:34" updateDate="2021-06-23T07:48:34" nodeName="Christmas Party 2016" urlName="christmas-party-2016" path="-1,1064,1089,1097" isDoc="" nodeType="1096" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1095" nodeTypeAlias="christmasParty2016" isPublished="true">
        <articleTitle><![CDATA[Christmas Party title]]></articleTitle>
        <articleContents><![CDATA[<p>Christmas Party Contets</p>]]></articleContents>
      </christmasParty2016>
      <introducingWidget20 id="1098" key="3fbc5d42-1c7c-43b1-b830-4b5b3504eae4" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2021-06-23T07:49:21" updateDate="2021-06-23T07:49:21" nodeName="Introducing widget 2.0" urlName="introducing-widget-20" path="-1,1064,1089,1098" isDoc="" nodeType="1092" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1091" nodeTypeAlias="introducingWidget20" isPublished="true">
        <articleTitle><![CDATA[Introducing Widget Title]]></articleTitle>
        <articleContents><![CDATA[<p>Introducing Widgt body</p>]]></articleContents>
      </introducingWidget20>
    </articlesMain>
  </homePage>
  <homePage id="1100" key="7e24a34b-543a-4f24-947e-64f07abe265c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2021-06-25T09:47:27" updateDate="2021-06-25T14:41:21" nodeName="es" urlName="es" path="-1,1100" isDoc="" nodeType="1061" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <footerText><![CDATA["Copyright Widgets Ltd 2014"]]></footerText>
  </homePage>
  <homePage id="1106" key="ee574353-c433-478a-81d1-795dab0483fe" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2021-06-25T15:22:44" updateDate="2021-06-25T15:24:27" nodeName="Fr" urlName="fr" path="-1,1106" isDoc="" nodeType="1061" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <footerText><![CDATA["Copyright Widgets Ltd 2014"]]></footerText>
  </homePage>
</root>